footer {
    h4 {
        font-size: 16px;

    }
    background-color: map-get($map: $paleta, $key: colorprimario);
    color: map-get($map: $paleta, $key: texto);
    .fa-phone {
            font-size: 25px;

    }
    .fa-location-dot {
        font-size: 25px;

    }
    .fa-facebook {
        font-size: 25px;
    }
    .fa-instagram {
        font-size: 25px;
    }

}
