@import "_variables";
@import "_nav";
@import "_footer";
@import "_mixins";
@import "_boton";


section {
    .videos {
        align-items: center;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .videos {
        justify-content: space-around;
    }
}

#carouselExampleFade {
   justify-content: center;
}
