.navcolor {
  background-color: #0b465c !important; }

footer {
  background-color: #0b465c;
  color: #fff; }
  footer h4 {
    font-size: 16px; }
  footer .fa-phone {
    font-size: 25px; }
  footer .fa-location-dot {
    font-size: 25px; }
  footer .fa-facebook {
    font-size: 25px; }
  footer .fa-instagram {
    font-size: 25px; }

button {
  background-color: #0b465c !important;
  border: none !important; }
  button :hover {
    background-color: #088caa !important; }

section .videos {
  align-items: center;
  padding: 10px; }

@media (min-width: 992px) {
  .videos {
    justify-content: space-around; } }

#carouselExampleFade {
  justify-content: center; }
