.navcolor{
    background-color: rgb(11, 70, 92) !important;
}
footer {
    background-color: rgb(11, 70, 92);
    color: white;
}
.fa-phone {
    font-size: 20px;
}
.fa-location-dot {
    font-size: 20px;
}
.fa-facebook {
    font-size: 30px;
}
.fa-instagram {
    font-size: 30px;
}
.tarjeta {
    background-color: rgb(11, 70, 92);
    color: white;
}
button {
    background-color: rgb(8, 140, 170) !important;
    border: rgb(8, 140, 170) !important;   
}
button:hover {
    background-color: aqua !important;
    border: aqua !important;
}

@media (min-width: 768px) {
    .productos1 {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .productos1 {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-content: space-evenly;
    }  
}
@media (min-width: 1200px) {
    .piedepagina {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
        
}